name: .NET CI

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Get Version
        uses: kzrnm/get-net-sdk-project-versions-action@v2.0.0
        with:
          proj-path: ./src/CsvHelper.Excel/CsvHelper.Excel.csproj
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 9.0.x
      - name: Restore dependencies
        run: dotnet restore ./src/CsvHelper.Excel.sln
      - name: Build
        run: dotnet build --no-restore --configuration Release ./src/CsvHelper.Excel.sln
      - name: Test
        run: dotnet test --no-build --configuration Release ./src/CsvHelper.Excel.sln -- --coverage --coverage-output-format cobertura --coverage-output coverage.xml
      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: '**/coverage.xml'
          badge: true
          format: 'markdown'
          output: 'both'
      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md
      - name: Write to Job Summary
        run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY
      - name: Pack
        run: dotnet pack --no-build --configuration Release --version-suffix="${{ steps.get-version.outputs.version }}" ./src/CsvHelper.Excel/CsvHelper.Excel.csproj --output .
